<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Map</title>
</head>

<body>
<div class="container mt-5">
    <div id="map-page"></div>
</div>

<!--<script th:src="'http://localhost:8101/mapPage.js'"></script>-->
<script th:src="'http://localhost:8101/openLayersMapPage.js'"></script>
</body>


</html>